body {
	width: 600px;
	margin: 0 auto;
	background: #eeeeee;
	font-family: 'Trebuchet MS', Verdana, Arial, serif;
}

body.exposition {
	width: 250px;
	background: #fff;
	padding: 25px;
}

body.exposition p {
	margin: 0px
}

figcaption {
	font-size: 10px;
}

a.exposition {
	color: #666;
}